In [3]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
dfr=pd.read_csv('D:\\AI ML B2\\result.csv')
dfr

         name       regno  marks       result
0    suraksha  163CS21056     90   distiction
1     prathvi  163CS21041     89   distiction
2     sandhya  163CS21049     80  first class
3  prathiksha  163CS21039     65        pass
4     lavanya  163CS21026     40         fail

In [8]:
dfr['result'].unique()

array(['distiction', 'first class', 'pass ', 'fail'], dtype=object)

In [9]:
pd.get_dummies(dfr['result'])

   distiction  fail  first class  pass
0           1     0            0      0
1           1     0            0      0
2           0     0            1      0
3           0     0            0      1
4           0     1            0      0