In [1]:
import pandas as pd
df=pd.read_csv('D:\\AI ML B2\\data2.csv')
df

   height  weight  color  age
0     2.0     3.0    red    2
1     6.0     8.0    NaN   10
2     NaN     NaN  black    6
3     4.0     NaN  brown    7
4     8.0    12.0   back    4
5     3.0     4.0    NaN    1
6     4.0     4.0  green    2
7     1.0     1.0    NaN    3

In [2]:
import pandas as pd
df=pd.read_csv('D:\\AI ML B2\\data2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  7 non-null      float64
 1   weight  6 non-null      float64
 2   color   5 non-null      object
 3   age     8 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 388.0+ bytes

In [3]:
import pandas as pd
df=pd.read_csv('D:\\AI ML B2\\data2.csv')
df.isna()

   height  weight  color    age
0   False   False  False  False
1   False   False   True  False
2    True    True  False  False
3   False    True  False  False
4   False   False  False  False
5   False   False   True  False
6   False   False  False  False
7   False   False   True  False

In [9]:
import pandas as pd
sr=pd.Series([2,3,None,5,None,11])
sr

0     2.0
1     3.0
2     NaN
3     5.0
4     NaN
5    11.0
dtype: float64