<a href="https://colab.research.google.com/github/surakshagp/python-code-2/blob/main/Walked.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

arr=arr.T
arr

<ipython-input-5-d039ba41f046>:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr=np.array([Day_number,Steps_walked])

array([array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
       list([1223, 1444, 4567, 789, 9014, 6792, 45617, 4467])],
      dtype=object)

In [ ]:
import pandas as pd
arr={'Day_number':[1,2,3,4,5,6,7,8,9,10],
     'Steps_walked':[1223,1444,4567,7859,9014,6792,45617,4467,1245,5680]}
df=pd.DataFrame(arr)
arr

{'Day_number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Steps_walked': [1223, 1444, 4567, 7859, 9014, 6792, 45617, 4467, 1245, 5680]}